{% extends 'base.jinja' %}
{% block content %}
    
    {% if book != List  %}
      {% if book_checked_out == False %}
            <h3>This book is available now !</h3>
        {% endif %}
    {% if book_checked_out == True %}
            <h3>This book is not available at this moment</h3>
    {% endif %}
    <ul style="list-style: none;">
        <li>{{ book.title }}</li>
        <li>{{ book.author }}</li>
        <li>{{ book.book_genre }}</li>
    </ul>

   {% if book_checked_out == False %}
    <form action="/books/{{book.id}}/check_out" method="post">
        <label for="checked_out">Want this book?</label><br>
        <input type="submit" value="Get it!" name="checked_out" onclick="return confirm('Are you sure about it?')">
    </form>
   {% endif %} 
   {% if book_checked_out == True %}
    <form action="/books/{{book.id}}/check_in" method="post">
        <label for="checked_in">Return this book</label><br>
        <input type="submit" value="Return" name="checked_in" onclick="return confirm('Are you sure about it?')">
    </form>
   {% endif %}


    {% endif %}
    
    <ul> 
        {% for book in book_list  %}
            <li> {{ book.title }} by {{ book.author }} (Genre: {{ book.book_genre }} )
            {% if book.checked_out == False %}
                <span style="color:green">Available</span>
             {% endif %}
            {% if book.checked_out == True %}
               <span style="color: red;"> Not Available</span>
             {% endif %}
            <a href="/books/{{book.id}}">More Info</a></li>
            <a href="/books/{{book.id}}/delete">Delete</a>
            
        {% endfor %}
    </ul>

{% endblock content %}

