{% extends 'base.jinja' %}
{% block content %}

    {% if book != List  %}
    <div class="book_details">
      {% if book_checked_out == False %}
            <h3>This book is available now !</h3>
        {% endif %}
    {% if book_checked_out == True %}
            <h3>This book is not available at this moment</h3>
    {% endif %}
        <ul class="book_details__ul" style="list-style: none;">
            <li>Title: <h4> {{ book.title }} </h4></li>
            <li>Author: <h5> {{ book.author }} </h5> </li>
            <li>Genre: <h5> {{ book.book_genre }} </h5> </li>
        </ul>

   {% if book_checked_out == False %}
    <form action="/books/{{book.id}}/check_out" method="post">
        <label for="checked_out">Want this book?</label>
        <input type="submit" value="Get it!" name="checked_out" onclick="return confirm('Confirm book checkout')">
    </form>
   {% endif %} 
   {% if book_checked_out == True %}
    <form action="/books/{{book.id}}/check_in" method="post">
        <label for="checked_in">Return this book</label>
        <input type="submit" value="Return" name="checked_in" onclick="return confirm('Confrim book checkin')">
    </form>
    
   {% endif %}
    
    
    <a class="delete" href="/books/{{book.id}}/delete" onclick="return confirm('Confirm Delete of book: {{book.title}}')"
    style="align-self: center;">Delete</a>

    </div>
    {% endif %}
    
    <ul class="books_list"> 
        {% for book in book_list  %}
            <li>Title: <h4> {{ book.title }} </h4>
            Author: <h5> {{ book.author }} </h5>  
            (Genre:<h5> {{ book.book_genre }} )</h5> 
            {% if book.checked_out == False %}
                <span class="available_check" style="color:green">Available</span> 
             {% endif %}
            {% if book.checked_out == True %}
               <span class="available_check" style="color: red;"> Not Available</span> 
             {% endif %}
            <a class="info" href="/books/{{book.id}}">More Info</a>
            <a class="delete" href="/books/{{book.id}}/delete" onclick="return confirm('Confirm Delete of book: {{book.title}}')">Delete</a></li>
            
        {% endfor %}
    </ul>

{% endblock content %}

