
{% extends 'base.jinja' %}

{% block content %}


<div class="index">
    <span>
        <h1>Welcome!</h1>
        <h2><br>
        Local Library</h2><br>
        <h4>Find your next book here </h4>
    </span>



</div>
{% endblock content %}

